#folder:
build/
.idea/
.vscode/
.codelite/

#ext:
[abc].out
[abc].txt
*.elf
*.exe
*.o
*.i64
*.alg
*.bak
*.pdb
*.ilk
*.obj
*.csv
*.asm

#files:
KnR-cingles.workspace
tags
pep-8.htm
CMakeLists.txt
