#folder:
build/
.idea/
.vscode/
.codelite/

#ext:
*.elf
*.exe
*.o
*.i64
*.alg
*.bak
*.pdb
*.ilk
*.obj
*.csv
*.gch
*.bak
[abc].txt
[abc].out

#files:
pep-8.htm
CMakeLists.txt
KnR-cingles.workspace
tags
